a {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}



/*---------HEADER---------*/

.header {
  display: flex;
  width: 100%;
  height: 293px;
}

.header-navigation {
  padding: 133px 36.5px 138px 50px;
}
.header-navigation-list {
  display: flex;
  gap: 32px;
}

.header-navigation-list-item {
  padding-right: 2px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0;
  list-style: circle;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header-navigation-list-item:nth-child(1) {
  padding-right: 0;
  list-style: none;
}

.header-logo {
  width: 148px;
  height: 105px;
  margin: 92px 0 96px 0;
}
.header-address {
  padding: 95px 50px 100px 184px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0;
  text-underline-offset: 4px;
}

.header-address span {
  display: block;
}

/*-----------MAIN----------*/

.main {
}

/*-----------PREVIEW----------*/

.preview {
  position: relative;
  height: 757px;
  margin-bottom: 180px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.preview-heading {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1000px;
  padding: 165px 0 106px 0;
  margin: 0 50px;
  z-index: 2;
}
.preview-heading-text {
  display: block;
  height: 115px;
  margin-right: -30px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
}
.preview-description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px 50px 50px;
  width: 1000px;
  height: 51px;
  z-index: 2;
}
.preview-description-text {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
}
.preview-description-button {
  width: 256px;
  height: 51px;
  border: solid 1px white;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  background-color: rgb(0, 0, 0, 0);
}

/*-----------LOTS----------*/

.lots {
  width: 1052px;
}
.lots-heading {
  padding: 0 0 27px 64px;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 40px;
  letter-spacing: 0;
}
.lots-cards {
  display: flex;
  gap: 25px;
  height: 596px;
  margin: 0 24px 30px 24px;
  list-style: none;
}
.lots-cards-item {
  flex-shrink: 0;
  flex-basis: 334px;
}
.lots-cards-item-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  /*color: white;*/
}
.lots-cards-item-content-heading {
  font-weight: 700;
  font-size: 22px;
  font-style: Bold;
  line-height: 26.4px;
  letter-spacing: 0;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0;
  text-transform: uppercase;
}
.lots-cards-item-content-description {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0%;
}
.lots-link {
  display: inline-block;
  margin-bottom: 118px;
  padding-left: 64px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
}

/*-----------ABOUT----------*/

.about {
  display: flex;
  width: 1052px;
  height: 595px;
  margin-bottom: 180px;
}
.about-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 72px 320px 47px;
  border-radius: 50%;
  background-color: black;
}
.about-logo {
  width: 148px;
  height: 114px;
}

.about-text-container {
  flex-shrink: 0;
  flex-basis: 693px;
  padding-top: 133px;
}
.about-heading-text {
  padding-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  font-style: Bold;
  line-height: 40px;
  letter-spacing: 0;
}
.about-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-description-text {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0;
}

/*-----------FOOTER----------*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px;
}
.footer-address {
  display: flex;
  flex-direction: column;
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: 24.3px;
letter-spacing: 0;

}
.footer-navigation {
font-weight: 400;
font-size: 18px;
font-style: normal;
line-height: 18px;
letter-spacing: 0;
}
.footer-navigation-list {
  list-style: none;
}
.footer-navigation-list-item {
  text-align: center;
}
.footer-social {
  display: flex;
  gap: 48px;
}

.footer-social img {
  width: 48px;
  height: 48px;
}

/*--------------------------*/

.active-page {
  text-decoration: none;
}

.overlay {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, .6);
  z-index: 1;
}