a {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
  text-decoration-thickness: 0;
  text-underline-offset: 4px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}

.address {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 24.3px;
  letter-spacing: 0;
}

/*---------HEADER---------*/

.header {
  display: flex;
  width: 100%;
}

.header-navigation {
  padding: 133px 36.5px 138px 50px;
}
.header-navigation-list {
  display: flex;
  gap: 32px;
}

.header-navigation-list-item {
  padding-right: 2px;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0;
  text-decoration: underline;
  text-underline-offset: 4px;
  list-style: circle;
}

.header-navigation-list-item:nth-child(1) {
  padding-right: 0;
  list-style: none;
}

.header-logo {
  width: 148px;
  height: 105px;
  margin: 92px 0 96px 0;
}
.header-address {
  padding: 95px 50px 100px 184px;
}

.header-address span {
  display: block;
}

/*-----------MAIN----------*/

/*-----------PREVIEW----------*/

.preview {
  position: relative;
  min-height: 757px;
  margin-bottom: 185px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.preview-heading {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1000px;
  margin: 0 50px;
  padding: 165px 0 106px 0;
}
.preview-heading-text {
  display: block;
  margin-right: -30px;
  color: white;
  font-weight: 700;
  font-size: 100px;
  line-height: 115px;
  letter-spacing: 30px;
}
.preview-description {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
  margin: 0 50px 50px 50px;
}
.preview-description-text {
  color: white;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18.5px;
}
.preview-description-button {
  width: 256px;
  height: 51px;
  border: solid 1px currentColor;
  color: white;
  font-weight: 500;
  font-size: 22px;
  line-height: 22px;
  letter-spacing: 0;
  text-align: center;
  background-color: rgb(0, 0, 0, 0);
}

.preview-description-button:hover {
  transition: all;
  transform: scale(1.05);
}

/*-----------LOTS----------*/

.lots {
  width: 1052px;
  margin: 0 auto 120px auto;
}
.lots-heading {
  padding: 0 0 30px 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
}
.lots-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
  list-style: none;
}
.lots-cards-item {
  position: relative;
  flex-shrink: 0;
  flex-basis: 334px;
}
.lots-cards-item-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 596px;
  padding: 48px 40px;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-lot-film {
  background-image: url(../images/card-lot-01.jpg);
}

.card-lot-book {
  background-image: url(../images/card-lot-02.jpg);
}

.card-lot-painting {
  background-image: url(../images/card-lot-03.jpg);
}

.lots-cards-item-content-heading {
  z-index: 2;
  font-weight: 700;
  font-size: 22px;
  line-height: 26.4px;
  letter-spacing: 0;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0;
  text-underline-offset: 3px;
  text-transform: uppercase;
}
.lots-cards-item-content-description {
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0;
}
.lots-link {
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
}

/*-----------ABOUT----------*/

.about {
  display: flex;
  width: 1052px;
  margin: 0 auto 180px auto;
}
.about-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  margin: 35px 72px 320px 47px;
  border-radius: 50%;
  background-color: black;
}
.about-logo {
  width: 148px;
  height: 114px;
}

.about-text-container {
  flex-shrink: 0;
  flex-basis: 693px;
  margin-top: 140px;
}
.about-heading-text {
  padding-bottom: 103px;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0;
}
.about-description {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.about-description-text {
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: 24px;
  letter-spacing: 0;
}

/*-----------FOOTER----------*/

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 82px 50px;
}
.footer-address {
  display: flex;
  flex-direction: column;
}
.footer-navigation {
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0;
}
.footer-navigation-list {
  list-style: none;
}
.footer-navigation-list-item {
  line-height: 1.2;
  text-align: center;
}

.footer-social-list {
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-list-item {
  width: 48px;
  height: 48px;
}

/*--------------------------*/

.active-page {
  text-decoration: none;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
}
